body {
    background-color: #fff;
}
.login-container {
    margin: 0 auto;
    width: 405px;
}
address {
    margin-bottom: 0px;
}
label {
    font-size: 13px;
    font-weight: 400;
}
hr{
  margin-bottom: 6px;
  margin-top: 6px;
}
.form-control{
  font-size: 13px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    padding: 3px 4px;
    background-color: #fbfbfb;
    border: 1px solid #d5d5d5;
    color: #858585;
    font-size: 13px;
}
select.form-control {
    padding: 3px 4px;
}
.hand{
  cursor: pointer;
}
.no-padding{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.no-margin{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.table-no-border > thead > tr > th, .table-no-border > tbody > tr > th, .table-no-border > tfoot > tr > th, .table-no-border > thead > tr > td, .table-no-border > tbody > tr > td, .table-no-border > tfoot > tr > td {
    border-top: none;
    line-height: 1.42857;
    padding: 3px;
    vertical-align: middle;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.form-control {
    height: 30px;
    background-color: #fbfbfb !important;
    border: 1px solid #d5d5d5 !important;
    color: #858585 !important;
}
.form-control:focus {
    background-color: #fbfbfb !important;
    border: 1px solid #f59942 !important;
    color: #858585 !important;
}
textarea.form-control {
    padding: 3px 4px;
}
textarea.form-control:focus {
    height: auto;
}
.form-horizontal .control-label {
    text-align: left;
}
.form-group {
    margin-bottom: 37px;
}
.modal-dialog {
    width: 500px;
}
.bootbox.modal-diaglog-800 .modal-dialog{
    width: 800px;
}
.bootbox.modal-diaglog-1000 .modal-dialog{
    width: 1000px;
}
.bootbox.modal-diaglog-1200 .modal-dialog{
    width: 1200px;
}
.form-group.has-error .control-label, .form-group.has-error .help-block, .form-group.has-error .help-inline {
    color: #a94442 !important;
}
.help-block {
    margin-bottom: 0;
    margin-top: 0;
} 
.modal-header {
    background-color: #f5f5f5;
    border-bottom: 3px solid #ed4e2a;
    min-height: 16.43px;
    padding: 10px 15px 10px 20px;
}
.modal-header .close {
    font-size: 26px;
}
h4 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 500;
}
input.typeahead, input.tt-query, input.tt-hint {
    min-width: auto !important;
}
.tt-dropdown-menu{
    min-width:auto;
    padding:0;
}
.tt-suggestion{
    font-size:12px;
    line-height:15px
}

.datepicker.dropdown-menu {
    z-index: 10000;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 3px 4px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 0;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
  height: 70px;
  overflow: auto;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.select2-container{
  max-width: 100%;
  line-height: 22px;
  cursor: text;
  max-height: 80px;
  overflow: auto;
}
.select2-container-multi.tag-input-style .select2-choices .select2-search-choice {
    padding: 2px 22px 3px 4px;
    font-size: 11px;
}
.attachmentbody{
    width: 114px;
    height: 110px;
    float: left;
}
.attachmentbody .progress{
    height: 12px;
    margin-top: 45px;
}
.attachmentbody ul {
    border-radius: 5px;
    list-style: outside none none;
    position: relative;
    float: left;
    padding: 0;
}
.attachmentbody ul li.remove{
    top: 0;
    right: 5px;
    position: absolute;
}
.attachmentbody img {
    border-radius: 5px;
    height: 100px;
    width: 100px;
    padding: 5px;
}
.attachmentbody i.fa {
    height:100px; 
    width:100px; 
    background:#ffffff; 
    border-radius:5px; 
    padding-top:28px;
}
.attachmentbody ul.success {
    border: 1px solid #339933;   
    margin: 0;
}
.attachmentbody ul.img_error {
    background: #f0c6c3 none repeat scroll 0 0;
    border: 1px solid #cc6622;
}
.alert {
    border-radius: 0;
    font-size: 12px;
}

.select2-drop {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #4492c9;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 1px 2px;
    min-width: 200px;
}

@media print {
    body{
        font-size: 8px !important;
    }
    h3{
        font-size: 12px !important;
        margin: 0px !important;
    }
    p{
        font-size: 8px !important;
    }

    table{
        font-size: 8px !important;
        line-height: 10px !important;
    }
    
    .table-bordered {
        border: 1px solid #aaa !important;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid #aaa !important;
        font-weight: normal !important;
    }

    .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
        padding: 1px 2px !important;
        font-weight: normal !important;
    }
}